<h1>Here are the verbs you can learn so far</h1>
<% @verbs.each do  |v|  %>
<p><%= v.infinitive %></p>
<% end  %>
<h1>Here are some adfjectives you can learn so far</h1>
<% @adjectives.each do  |a|  %>
<p><%= a.base %></p>
<% end  %>
